.hero-gradient {
  height: 671px; /* Yükseklik */
  width: 100%; /* Genişlik */
  background: linear-gradient(
    to right,
    var(--color-purpleDark) 70%,
    /* İlk renk %50'ye kadar */ var(--color-greenLight) 30%
      /* İkinci renk %50'den başlar */
  );
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
