@import "tailwindcss";

@theme {
  --color-purpleLight: #8f88ff;
  --color-purpleDark: #4731d3;
  --color-gray: #3a3a3a;
  --color-grayLight: #777777;
  --color-yellowLight: #ffe86e;
  --color-greenLight: #cbf281;
  --color-blueDark: #120B39;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
