@import "tailwindcss";

@theme {
  --color-purpleLight: #8f88ff;
  --color-purpleDark: #4731d3;
  --color-gray: #3a3a3a;
  --color-grayLight: #777777;
  --color-yellowLight: #ffe86e;
  --color-greenLight: #cbf281;
  --color-blueDark: #120b39;
}
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .hero-gradient {
    background: var(--color-purpleDark);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .hero-gradient {
      background: linear-gradient(
        to right,
        var(--color-purpleDark) 70%,
        var(--color-greenLight) 30%
      );
    }
  }

  .dark .hero-gradient {
    background: #171043;
  }

  @media (min-width: 768px) {
    .dark .hero-gradient {
      background: linear-gradient(
        to right,
        #171043 70%,
        #211f0b 30%
      );
    }
  }
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
